In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import seaborn as sns
import sklearn.preprocessing as preprocessing
import os
import pandas as pd
import numpy as np
import time
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Importing the dataset

In [2]:
df = pd.read_csv('subset_datatrain.csv')

In [3]:
df.head(5)

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
1,2014-02-27 18:01:32,2,3,66,318,52078,NaN,756,0,1,...,0,1,8291,1,1,1,2,50,191,2
2,2013-06-15 15:38:05,30,4,195,548,56440,NaN,1048,0,1,...,0,1,1385,1,1,1,0,185,185,58
3,2014-11-23 18:02:20,30,4,195,991,47725,NaN,1048,0,0,...,0,1,8803,1,1,1,3,151,69,36
4,2014-01-03 16:30:17,2,3,66,462,41898,2454.8588,1482,0,1,...,0,2,12009,1,1,1,2,50,680,95

In [3]:
df2 = pd.read_csv("destinations.csv")

Adding date and time data as new feature variables

In [4]:
df['day_of_month'] = pd.to_datetime(df['date_time']).dt.day
df['month'] = pd.to_datetime(df['date_time']).dt.month
df['year'] = pd.to_datetime(df['date_time']).dt.year

In [16]:
df.head(10)

,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,channel,...,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster,day_of_month,month,year
0,2,3,66,348,48862,2234.2641,12,0,1,9,...,1,1,1,2,50,628,1,11,8,2014
1,2,3,66,318,52078,NaN,756,0,1,4,...,1,1,1,2,50,191,2,27,2,2014
2,30,4,195,548,56440,NaN,1048,0,1,9,...,1,1,1,0,185,185,58,15,6,2013
3,30,4,195,991,47725,NaN,1048,0,0,9,...,1,1,1,3,151,69,36,23,11,2014
4,2,3,66,462,41898,2454.8588,1482,0,1,1,...,1,1,1,2,50,680,95,3,1,2014
5,2,3,66,462,41898,2454.8588,1482,0,1,1,...,1,1,1,2,50,680,95,3,1,2014
6,2,3,66,462,41898,2454.8588,1482,0,1,1,...,1,1,1,2,50,680,95,3,1,2014
7,2,3,66,174,40365,8456.8294,1713,0,0,0,...,3,1,1,3,5,89,38,29,10,2014
8,2,3,66,174,21855,8393.1607,1713,0,0,1,...,5,1,1,3,5,89,81,5,12,2014
9,37,1,69,923,23649,NaN,2140,1,0,0,...,6,1,1,6,204,1776,43,10,1,2013

In [5]:
features = ['posa_continent','site_name','user_location_country', 'is_package','channel', 'srch_adults_cnt', 'srch_children_cnt',
       'srch_rm_cnt', 'srch_destination_type_id','cnt', 'hotel_continent', 'hotel_country', 
       'hotel_cluster', 'day_of_month', 'month', 'year']

    Using only 400K rows for exploratory analysis

In [6]:
df3 = df.loc[:,features]

# Pre-processing

Checking number of unique values in each feature

In [8]:
len(df3.columns)

16

In [10]:
i = 0
for c in features:
    print (i, ":", c, ":", len(np.unique(df3[c])))
    i+=1

0 : posa_continent : 5
1 : site_name : 43
2 : user_location_country : 235
3 : is_package : 2
4 : channel : 11
5 : srch_adults_cnt : 10
6 : srch_children_cnt : 10
7 : srch_rm_cnt : 9
8 : srch_destination_type_id : 9
9 : cnt : 16
10 : hotel_continent : 7
11 : hotel_country : 205
12 : hotel_cluster : 100
13 : day_of_month : 31
14 : month : 12
15 : year : 2

Implementing one-hot encoding on the following feature variables-

posa_continent

site_name 

user_location_country 

user_location_city 

channel

srch_destination_id

srch_destination_type_id

hotel_continent

hotel_country

hotel_market

hotel_cluster

In [114]:
df5.iloc[:2,[1,2]] # used for DataFrame

   site_name  user_location_country
0          2                     66
1          2                     66

In [11]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [15]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,2,4,8,10,1,14,15])

In [16]:
X = onehotencoder.fit_transform(df3).toarray()

MemoryError:

In [52]:
from sklearn.model_selection import train_test_split

In [53]:
X_train, X_test = train_test_split(X, test_size = 0.5, random_state = 0)

### Cluster size = 5

In [54]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 5, init = 'k-means++', random_state = 0)

In [55]:
t = time.time()
y_clusters5 = kmeans.fit_predict(X_train)
print (time.time()-t)

20.19438099861145

In [56]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'poly', random_state = 0, probability= True)

In [57]:
t = time.time()
classifier.fit(X_train, y_clusters5)
print (time.time()-t)

62.13060903549194

Predicting clusters for test dataset

In [58]:
t = time.time()
y_pred5 = classifier.predict(X_test)
print (time.time()-t)

8.84761118888855

In [59]:
prob_5 = classifier.predict_proba(X_test)

In [70]:
from sklearn.metrics import f1_score

In [63]:
score = f1_score(y_test,y_pred,average = 'micro')

array([  2.73968080e-09,   1.82624608e-09,   9.99985781e-01,
         1.04889960e-07,   1.41098792e-05])

### Cluster size = 10

In [66]:
kmeans_10 = KMeans(n_clusters = 10, init = 'k-means++', random_state = 0)

In [67]:
t = time.time()
y_clusters10 = kmeans_10.fit_predict(X_train)
print (time.time()-t)

26.945398807525635

In [68]:
classifier_10 = SVC(kernel = 'poly', random_state = 0, probability= True)

In [69]:
t = time.time()
classifier_10.fit(X_train, y_clusters10)
print (time.time()-t)

84.77108836174011

In [ ]:
prob_10 = classifier_10.predict_proba(X_test)